html{
    background: url("../Images/arri.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
*
.logocent{
    width: 80px;
}
h1{
    font-size: 40px;
    color: black;
    margin-top: 9pc;
}
.btn:hover {   
  opacity: 0.7;   
} 
.btn{
    cursor: pointer;
    font-family:fantasy;
    font-size: 17px;
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 30px;
    color: BLACK;
    font-size: large;
    padding: 20px;

    background-color:  #04AA6D; 
    border: none;   
}
.description{
    font-size: small;
    color: white ;
}
#didi{
    color: white;
}
.navigation {
width: 100%;
background-color: #04AA6D;
}

img {
width: 25px;
border-radius: 0px;
float: left;
}

.logout {
font-size: .8em;
font-family: 'Oswald', sans-serif;
position: relative;
right: -18px;
bottom: -4px;
overflow: hidden;
letter-spacing: 3px;
opacity: 0;
transition: opacity .45s;
-webkit-transition: opacity .35s;

}


.button {
text-decoration: none;
float: right;
padding: 12px;
margin: 15px;
color: white;
width: 25px;

background-color: #04AA6D;
transition: width .35s;
-webkit-transition: width .35s;
overflow: hidden
}

a:hover {
width: 100px;
}

a:hover .logout{
opacity: .9;
}

a {
text-decoration: none;
}
.tablink {
background-color: #555;
color: aliceblue;
border: none;
cursor: pointer;
padding: 20px;
font-family:fantasy;
font-size: 17px;
width: 200px;
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
border-radius: 30px;
}

/* Change background color of buttons on hover */
.tablink:hover {
background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: white;
display: none;
padding: 50px;
margin-left: 2px;
margin-right: 2px;
text-align: center;
}

.Accueil{
    margin-top: 10px;
}